<%- include('partials/header') %>

    <main id="site-main" style="height: 70vh;">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/">
                    <span>BACK   <i class="fa fa-backward"></i></span>
                </a>
            </div>

            <form action="/workouts"  method="POST">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Username</th>
                            <th>Exercise</th>
                            <th>Duration</th>
                            <th>Mood</th>

           
                        </tr>
                    </thead>